<!DOCTYPE html>
<html>
<head>
    <title>Speaker Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="container">
    <h1>Speaker Recognition System - PNA [Internship]</h1>

    <input type="file" id="audioInput" accept=".wav">
    <button onclick="predict()">Predict</button>

    <div id="resultBox" class="hidden">
        <h3>Prediction</h3>
        <p>Speaker: <span id="speaker"></span></p>
        <p>Confidence: <span id="confidence"></span></p>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
